.App {
  text-align: center;
}

.App-header {
  background-color: #005585;
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.App-logo {
  height: 50px;
  width: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}

h1 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}