@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

.sliders-container {
    background-color: white;
    color: #00508a;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
  }
  
  .slider-section {
    margin-bottom: 80px;
    position: relative;
    padding-bottom: 30px; /* Espaço para os dots */
  }
  
  .slider-section h4 {
    font-size: 24px;
    font-weight: 700;
    color: #00508a;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .slider-setores, .slider-bis {
    margin: 0 auto;
    max-width: 75%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .setor-slide img, .bi-slide img {
    width: calc(100% - 10px);
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .setor-slide h3, .bi-slide h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(0, 80, 138, 0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    color: #00508a;
  }
  
  /* Estilizar setas de navegação */
  .slick-prev:before,
  .slick-next:before {
    color: #00508a;
  }
  
  /* Estilize os dots */
  .slick-dots {
    bottom: -30px;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .slick-dots li button:before {
    color: #00508a;
  }
  
  .slick-dots li.slick-active button:before {
    color: #00a8e8;
  }

  @media (max-width: 768px) {
    .slick-prev {
      left: -10px;
    }
    .slick-next {
      right: -10px;
    }
    .slider-setores, .slider-bis {
      max-width: 90%; /* Aumenta um pouco a largura em telas menores */
    }
  }